<html ng-app="steamtrade">
<head>
   <script src="angular.min.js"></script>
   <script src="main.js"></script>
   <link rel="stylesheet" type="text/css" href="style.css">
</head>
{{myProfile}}
<body ng-controller="MainCtrl">
	<p ng-if="returnError[0] == 'true'" id="apierror"><strong>Error!</strong> - {{getErrorMsg(returnError[1].status)}}</p>
	<form name="apikeyentry" style="margin:3px;padding: 5px;">
		API Key: <input style="width:275px;margin-left:15px;" type="text" name="eAPI" ng-model="steamApiKey" required>
		<span class="apiinputerr" ng-show="apikeyentry.eAPI.$error.required">Required!</span><br>
		SteamID: <input style="width:275px;margin-left:8px;" type="text" name="eID" ng-model="pSteamID">
		<span class="apiinputerr" ng-show="apikeyentry.eID.$error.required">Required!</span><br>
	</form>
	<table border="1" style="table-layout:fixed">
		<tr>
			<td style="vertical-align:top;width:496px;height:300px">
				<button ng-click="getProfile()">Get My Profile</button>
				<div>
					<h2>SteamID: {{myProfile.steamid}}</h2>
					<div style="position:relative" ng-if="myProfile.steamid >= 1">
						<div style="width:184px;display:inline-block;"><img ng-src="{{myProfile.avatarfull}}" /></div>
						<div style="display:inline-block;position:absolute;margin-left:15px;"><p style="font-size:30px;">{{myProfile.personaname}}</p></div>
						<div style="display:inline-block;position:absolute;margin-left:15px;top:37px"><p>Date Created: {{myProfile.timecreated *1000 | date:'medium'}}</p></div>
						<div style="display:inline-block;position:absolute;margin-left:15px;top:53px"><p>Location: {{myProfile.locstatecode}}</p></div>
					</div>
				</div> 
			</td>
			<td rowspan="2" style="vertical-align:top;width:calc(100% - 500px);">
				<button ng-click="getFriends()">Get Friends</button></br>
				<div ng-repeat="friend in friends" class="steamfriends">
					<h2>SteamID: {{friend.steamid}}</h2>
					Friend Since: {{friend.friend_since *1000 | date:'medium'}}
				</div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top;">
				<button ng-click="getServers()">Get Servers</button>
				<div ng-repeat="server in servers">
					<h1>SteamID: {{server.steamid}}</h1>
					AppID: {{server.appid}}</br>
					LoginToken: {{server.login_token}}
				</div>
			</td>
		</tr>
	</table>
</body>
</html>