<html ng-app="steamtrade">
<head>
   <script src="angular.min.js"></script>
   <script src="main.js"></script>
   <link rel="stylesheet" type="text/css" href="style.css">
</head>
<span style="word-wrap: break-word;">{{myProfile}}</span>
<body ng-controller="MainCtrl">
	<p ng-if="returnError[0] == 'true'" id="apierror"><strong>Error!</strong> - {{getErrorMsg(returnError[1])}}</p>
	<form name="apikeyentry" style="margin:3px;padding: 5px;">
		<p style="display:inline-block;width:65px">API Key:</p> <input style="width:275px" type="text" name="eAPI" ng-model="steamApiKey" required>
		<span class="apiinputerr" ng-show="apikeyentry.eAPI.$error.required">Required!</span><br>
		<p style="display:inline-block;width:65px">SteamID:</p> <input style="width:275px" type="text" name="eID" ng-model="pSteamID">
		<span class="apiinputerr" ng-show="apikeyentry.eID.$error.required">Required!</span><br>
	</form>
	<table border="1" style="table-layout:fixed">
		<tr>
			<td style="vertical-align:top;width:496px;height:300px">
				<button ng-click="getProfile()">Get My Profile</button>
				<div>
					<h2>SteamID: {{p_profile.steamid}}</h2>
					<div style="position:relative" ng-if="p_profile.steamid >= 1">
						<div style="width:184px;display:inline-block;"><img ng-src="{{p_profile.avatarfull}}" /></div>
						<div style="display:inline-block;position:absolute;margin-left:15px;"><p style="font-size:30px;">{{p_profile.personaname}}</p></div>
						<div style="display:inline-block;position:absolute;margin-left:15px;top:37px"><p>Date Created: {{p_profile.timecreated *1000 | date:'medium'}}</p></div>
						<div style="display:inline-block;position:absolute;margin-left:15px;top:53px"><p>Location: {{p_profile.locstatecode}}</p></div>
					</div>
				</div> 
			</td>
			<td rowspan="2" style="vertical-align:top;width:calc(100% - 500px);">
				<button ng-click="getFriends()">Get Friends</button></br>
				<steam-friend ng-repeat="friend in friendslist" class="steamfriends"></steam-friend>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top;">
				<button ng-click="getServers()">Get Servers</button>
				<div ng-repeat="server in servers">
					<h1>SteamID: {{server.steamid}}</h1>
					AppID: {{server.appid}}</br>
					LoginToken: {{server.login_token}}
				</div>
			</td>
		</tr>
	</table>
</body>
</html>